<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Listagem de Clientes</h5>
            <p-table #table [value]="clientes" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                     [paginator]="true" [globalFilterFields]="['nome','telefone','ativo']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Limpar" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                                (click)="clear(table)"></button>
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(table, $event)"
                                   placeholder="Pesquisar" class="w-full"/>
						</span>
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="novo()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex align-items-center justify-content-center">Nome</div>
                        </th>
                        <th>
                            <div class="flex align-items-center justify-content-center">Telefone</div>
                        </th>
                        <th>
                            <div class="flex align-items-center justify-content-center">Data Nascimento</div>
                        </th>
                        <th>
                            <div class="flex align-items-center justify-content-center">Ações</div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cliente>
                    <tr>
                        <td class="text-center" style="min-width: 12rem;">
                            {{cliente.nome}}
                        </td>
                        <td class="text-center" style="min-width: 12rem;">
                            {{cliente.telefone | mask: '(00)00000-0000'}}
                        </td>
                        <td class="text-center" style="min-width: 12rem;">
                            {{cliente.dataNascimento | date: 'dd/MM/yyyy'}}
                        </td>
                        <td>
                            <div class="text-center">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editar(cliente.id)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="exibirInativarClienteDialog(cliente.id)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog [(visible)]="inativarClienteDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Deseja realmente inativar essa cliente?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="inativarClienteDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="inativar()"></button>
    </ng-template>
</p-dialog>
