<form [formGroup]="form" (submit)="submitForm()">
    <div class="grid">
        <div class="col-12 md:col-6">
            <div class="p-card">
                <div class="p-fluid">
                    <div class="field">
                        <label htmlFor="dataHorario">Data/Horário</label>
                        <p-calendar inputId="dataHorario" [timeOnly]="false" [showTime]="true" dateFormat="dd/mm/yy"
                            formControlName="data"></p-calendar>
                        <small *ngIf="deveMostrarMensagemDeValidacao(form.get('data'))"
                               style="color: red;">{{mensagemDeValidacao(form.get('data'))}}</small>
                    </div>
                    <div class="field">
                        <label htmlFor="designer">Designer</label>
                        <input pInputText id="designer" type="text" autocomplete="off"
                               readonly="true" formControlName="designer"/>
                        <small *ngIf="deveMostrarMensagemDeValidacao(form.get('cliente'))"
                               style="color: red;">{{mensagemDeValidacao(form.get('cliente'))}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
